<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>articles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
    <h1 class="mb-3">My Blog</h1>
    <h4 class="mb-4">블로그에 오신 것을 환영합니다.</h4>
</div>

<div class="container">
    <button type="button" id="create-btn" th:onclick="|location.href='@{/new-article}'|"
            class ="btn btn-secondary btn-sm mb-3">글 등록</button>
    <button type="button" id="external-api-btn" th:onclick="|location.href='@{/api/external}'|"
            class ="btn btn-secondary btn-sm mb-3">call External Api</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='/logout'">로그아웃</button>
    <div class="row-6" th:each="article :${articles}">  <!-- articles 갯수 만큼 반복 -->
        <div class="card">
            <div class="card-header" th:text="${article.id}">  <!-- item의 id 출력-->
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${article.title}"></h5> <!-- item의 title 출력-->
                <p class="card-text" th:text="${article.content}"></p>   <!-- item의 title 출력-->
                <a th:href="@{/articles/{id}(id=*{article.id})}" class="btn btn-primary">Show content</a>
            </div>
        </div>
        <br>
    </div>
</div>

</body>
</html>