


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>examplePage.html</title>
</head>
<!--object선언을 div에서하면 스코프가 div안으로 적용-->
<body th:object="${person}">

<h1>Thymeleaf study</h1>
<p th:text="${#temporals.format(today, 'yyyy-MM-dd')}"></p>

<div>
    <p th:text="|이름 : *{name}|"></p>
    <p th:text="|나이 : *{age}|"></p>
    <p>취미</p>
    <ul th:each="hobby : *{hobbies}">
        <li th:text="${hobby}"></li>
        <span th:if="${hobby == '운동'}">(대표취미)</span>
    </ul>
</div>

<a th:href="@{/api/articles/{id}(id=*{id})}">글 보기</a>
</body>
</html>